@import "./base.css";

body {
  background-color: #FEFAE0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background: white;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #BC6C25;
  outline: 1px solid #BC6C25;
  border-radius: 20px;
}


@media (min-width: 1024px) {

  
}

/* @media (max-width: 1024px) {
  body {
    background-color: black;
  }
  body::-webkit-scrollbar {
    width: 0.5em;
    background: white;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: orangered;
    outline: 1px solid orangered;
    border-radius: 20px;
  }
} */
